 nav{
    display: flex;
 align-items: center;
 justify-content: space-between;
 }
 /* name color */
 .namC {
   color: #FD6E0A;
 }
/* font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Navigation Title */
.nav-title {
   font-size: 45px;
   font-weight: 800;
}
/* header sec */
.second-bg{
   background-color: #FFF8F3;
}
 nav ul li {
   list-style: none;
    margin-right: 54px;
 }
 nav li a{
   text-decoration: none;
   font-size: 20px;
   color: #474747;
   
 }
 nav ul{
   display: flex;
   align-items: center;


 }
.paint {
   height: 64px   ;
   width: 150pxpx;
   font-weight: 700;
   color: white;
   padding: 18px 36px;
   background-color: #FD6E0A;
   border-radius: 5px;
   border: none;
}
.all{
   margin: 0 35px 0 200px;
}
/* header sec */
.dab{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position:top left,bottom right;
   
}

/* banner area */

.banner{
   display: flex;
   justify-content: space-between;
   margin: 0 35px 0 200px;

}
.banner-content{
max-width: 580px;
}
/* main sec */
 .first{
   max-width: 1140px;
   margin: 0 auto;
      }
      /* About Section */
   .about-me {
      padding: 130px 156px;
      text-align: center;
      margin-top: 130px;
   }
   .about-items{
      display: flex;
      justify-content: space-around;
   }
   .item-description{
      font-weight: 700;
   }
         
